extends layout

block content
  h3 Is the Old* Exit Node Alive?
  h3= value
  p Please hit "reload" to refresh.
  p * Note that gateways connecting to the New Exit Node are not (yet) included. 
  p Please help make this page better at 
    a(href='https://github.com/sudomesh/monitor') https://github.com/sudomesh/monitor

  img(src='diagram.jpg')
