extends layout

block content
  h3 Is the Exit Node Alive?
  h3= value
  p Please hit "refresh" to refresh.

  p 'please help make this page better at '
    a(href='https://github.com/sudomesh/monitor') https://github.com/sudomesh/monitor
    ' or via ' 
    a(href='https://peoplesopen.net') https://peoplesopen.net

  img(src='diagram.jpg')
